* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: url('../images/abstract.webp') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

body:after {
    content: "";
    position: fixed;
    /* stretch a fixed position to the whole screen */
    top: 0;
    height: 100vh;
    /* fix for mobile browser address bar appearing disappearing */
    left: 0;
    right: 0;
    z-index: -1;
    /* needed to keep in the background */
    background: url('../images/abstract.webp') center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ul {
    list-style-type: none;
}

header {
    text-align: center;
    margin: 100px 100px 0;
    padding: 50px 100px;
    background-color: lightsalmon;
}

footer {
    text-align: left;
    margin: 100px 100px 0;
    padding: 15px 50px;
    background-color: lightsalmon;
}

footer ul {
    padding: 0px;
    margin-left: 50px;
}

section {
    overflow: scroll;
}

nav {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 100px;
    padding: 20px;
    background-color: rgba(38, 83, 1, 0.50);
    position: sticky;
    top: 0;
}


a {
    outline: none;
    text-decoration: none;
    padding: 15px;
    font-weight: 300;
}


a.name_link {
    color: #265301;
}

a.name_link:visited {
    color: #265301;
}

a.name_link:focus {
    background: transparent;
}

a.name_link:hover {
    font-weight: 500;
    background: transparent;
}

a.name_link:active {
    background: transparent;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:focus {
    color: #265301;
    background: #BAE498;
}

a:hover {
    color: #265301;
    font-weight: 900;
    background: #CDFEAA;
}

a:active {
    background: #265301;
    color: #CDFEAA;
}

header h1 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 300;
}

table {
    margin: 0 50px;
}

table,
th,
td {
    border: 2px none white;
}

th,
td {
    padding: 10px 30px;
}

.content {
    margin: 5px 50px 20px;
}

.items th {
    background-color: lightgrey;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.declaration {
    color: white;
    background-color: lightsalmon;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
}

.declaration_text {
    background-color: #265301;
    text-align: center;
}

.footlink {
    padding: 0px;
}

.name {
    position: absolute;
    top: 20px;
    left: 110px;
    margin: auto;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline overline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    letter-spacing: 3px;
}

a.name_link {
    padding: 0;
}

.property {
    height: 100px;
    color: white;
}

.property th {
    font-size: x-large;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.value {
    background-color: rgb(255, 200, 179, 0.75);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

#flow {
    margin: 100px;
    padding: 30px;
    background-color: rgba(143, 188, 143, 0.5);
}

#position,
#z-index,
#display,
#float,
#clear {
    margin: 100px;
    padding: 30px;
    background-color: rgba(230, 230, 230, 0.5);
}


th {
    background-color: #265301;
}

td {
    background-color: rgba(143, 188, 143, 0.5);
}

h2 {
    color: #265301;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 50px;
}